.container {
  margin-inline: auto;
  max-width: 1320px;
  padding-inline: .75rem;
  width: 100%;
}

.container_size_lg {
  max-width: 960px;
}

.container_size_md {
  max-width: 720px;
}

@media only screen and (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }

  .container_size_lg {
    max-width: 960px;
  }

  .container_size_md {
    max-width: 720px;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .container_size_md {
    max-width: 720px;
  }
}

@media only screen and (max-width: 991px) {
  .container,
  .container_size_lg {
    max-width: 720px;
  }
}

@media only screen and (max-width: 767px) {
  .container,
  .container_size_lg,
  .container_size_md {
    max-width: 540px;
  }
}

@media only screen and (max-width: 575px) {
  .container,
  .container_size_lg,
  .container_size_md {
    max-width: 100%;
  }
}